<i ng-click="offer.show=!offer.show" ng-class="{ 'fa-caret-right': !offer.show, 'fa-caret-down': offer.show }" class="fa-li fa"></i>
<img width="32" height="32" src="{{offer.icon}}" ng-click="" image-uploader="offer.icon" class="bt bl br bb" />&nbsp;<a href="" editable-text="offer.name" buttons="no">{{ offer.name || 'No Name Offer' }}</a>
<ul ng-show="offer.show" class="fa-ul">
   <li><i class="fa-li fa fa-align-justify"></i>Description:&nbsp;<a href="" editable-text="offer.description" buttons="no">{{offer.description || 'No Description'}}</a>
   </li>
   <li><i class="fa-li fa fa-picture-o"></i>Artwork:&nbsp;
      <img image-modal="offer.artwork" style="max-width:32px;height:auto" src="{{offer.artwork}}" ng-click="" class="bt bl br bb" /><a ng-click="" image-uploader="offer.artwork">Change</a>
   </li>
   <li><i class="fa-li fa fa-align-justify"></i>Artwork Text:&nbsp;<a href="" editable-text="offer.artworktext" buttons="no">{{ offer.artworktext || 'Enter Artwork Text' }}</a>
   </li>
   <li><i class="fa-li fa fa-align-justify"></i>Artwork Subtext:&nbsp;<a href="" editable-text="offer.artworksubtext" buttons="no">{{ offer.artworksubtext || 'Enter Artwork Subtext' }}</a>
   </li>
   <li><i class="fa-li fa fa-align-justify"></i>Discount Type:&nbsp;<a href="" editable-text="offer.discounttype" buttons="no">{{offer.discounttype || 'No Discount Type'}}</a>
   </li>
   <li><i class="fa-li fa fa-align-justify"></i>Discount Amount:&nbsp;<a href="" editable-text="offer.discountamount" buttons="no">{{offer.discountamount || 'No Discount Amount'}}</a>
   </li>
   <li><i class="fa-li fa fa-align-justify"></i>Discount Item:&nbsp;<a href="" editable-text="offer.discountitem" buttons="no">{{offer.discountitem || 'No Discount Item'}}</a>
   </li>
   <li><i class="fa-li fa fa-align-justify"></i>Redemption Code:&nbsp;<a href="" editable-text="offer.redemptioncode" buttons="no">{{offer.redemptioncode || 'No Redemption Code'}}</a>
   </li>
   <li><i class="fa-li fa fa-tag"></i>Tag:&nbsp;<a ng-click="AddTag(offer)">Add</a>
      <span ng-repeat="(i,t) in offer.tag track by $index"><i ng-click="DeleteTag(offer.tag,i)" class="fa fa-times"></i><a href="" editable-text="offer.tag[i]" buttons="no">{{ offer.tag[i] || 'Edit Tag' }}</a>,&nbsp;</span>
   </li>
   <li><i class="fa-li fa fa-calendar"></i>Expires:&nbsp;<a href="" editable-text="offer.expires" buttons="no">{{offer.expires}}</a>
   </li>
   <li><a are-you-sure="$parent.RemoveOffer(offer,parent)" class="text-danger"><i class="fa fa-li fa-minus-square"></i>Delete</a>
   </li>
</ul>